#navbar {
	background-color: rgb(97, 210, 231);
	height: 80px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	z-index: 5;
	ul {
		margin: 0px;
		padding: 0px;

		li {
			width: 50%;
			display: inline-block;
			text-align: center;
			line-height: 80px;
		}

		a {
			text-decoration: none;
			outline: 0px;
		}
	}

	.navbar-items {
		width: 50%;

	}
}