.about-section {
	height: 100%;
	padding-top: 80px;
}

.about-header {
	text-align: center;
}

.about-name {
	margin: 0px;
	padding-top: 24px;
	font-size: 40px;
}

.about-title {
	margin-top: 0px;
	font-size: 35px;
}

.about-img {
	border-radius: 50%;
	width: 15%;
}